.orangeBluePane {
    -fx-background-image: url('../../res/images/orangeBlueBackground.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}
.pinkGreenPane {
    -fx-background-image: url('../../res/images/pinkGreenBackground.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}
.yellowPurplePane {
    -fx-background-image: url('../../res/images/yellowPurpleBackground.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}